<!DOCTYPE html>
<html>
<head>
  <title>Borrow & Return System</title>
  <style>
     body {
      font-family: Arial, sans-serif;
    }
    h1 {
      text-align: center;
    }
    button {
      font-size: 24px;
      padding: 12px 24px;
      display: block;
      margin: 0 auto;
      background-color: #4CAF50;
      color: white;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease;
      border-radius: 10px;
    }

    button:hover {
      background-color: #45a049;
    }
  </style>
</head>
<body>
  <h1>Borrow & Return System</h1>
  <form action="/borrow" method="POST">
    <input type="hidden" name="_method">
    <button type="submit">Borrow</button>
  </form><br>
  <form action="/return" method="POST">
    <input type="hidden" name="_method">
    <button type="submit">Return</button>
  </form><br>
  <form action="/history" method="POST">
    <input type="hidden" name="_method">
    <button type="submit">History</button>
  </form>
</body>
</html>
