<!DOCTYPE html>
<html>
<head>
    <title>Successfully returned</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h1 {
            color: #333;
            font-size: 24px;
        }

        p {
            color: #666;
            font-size: 16px;
            margin-bottom: 10px;
        }

        a {
            color: #0088cc;
            text-decoration: none;
        }
        .warning-list {
            color: red;
    }
    </style>
</head>
<script>
    const params = new URLSearchParams(window.location.search);
    const newstuff = params.get('newstuff');
    const newstrdata = params.get('newstrdata');
    const newcheck = params.get('newcheck');
    const correct = params.get('correct');
    
    if (correct==="true"){
        if (newcheck) {
        document.write('<h1>Successfully returned</h1>');
        document.write('<p>Return List: ' + newstuff + '</p>');
        } else {
        document.write('<h1>Unsuccessfully returned</h1>');
        document.write('<p>No QR Code found or failed to decode.</p>');
        }
    }
  </script>
<body>
    {% if newcheck == True %}
        <h1>Successfully returned</h1>
        <p>Return List: {{ newstuff }}</p>
    {% elif newcheck == False %}
        <h1>Unsuccessfully returned</h1>
        <p>No QR Code found or failed to decode.</p>
    {% else %}
        <p></p>
    {% endif %}

    <a href="/">Finish</a>
</body>
</html>